<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ActEuropa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/metricsgraphics.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Vollkorn" rel="stylesheet">
    <link id="favicon" href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
<div class="flexbox">
    <div class="country-BG">
       <div class="center country">
       		<span class="largetext">FRANCE</span>
       </div>
    </div>
    <div class="economy-BG">

      	<div class="center">
              <span class="subcategory_header" >Economy / Society</span>
              <div class="subcategory_floatright" style="color:#aeaeae;"><span style="color:#fff;opacity:0.5;">Compare with: </span>
                        <select>
                            <option>EU total</option>
                            <option>EU average</option>
                            <option>World total</option>
                            <option>World average</option>
                        </select>
              </div>
        </div>
      	<div class="center graphlist" id="grapharea"></div>
        <br></br>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script src="/js/plugins.js"></script>
    <script src="/js/3js/3xdom.js"></script>
    <script src="/js/3js/three.min.js"></script>
    <script src="/js/3js/tween.js"></script>
    <script src="/js/3js/controls/OrbitControls.js"></script>
    <script src="/js/3js/Detector.js"></script>
    <script src="/js/3js/libs/stats.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/js/metricsgraphics.min.js"></script>
</body>

</html>